<!DOCTYPE html>
<html style="background: #efefef">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">


    </head>
    <body >
    <div class="columns pt-5 mt-5">
        <div class="column is-4 is-offset-4">

            {% for message in app.flashes('success') %}
                <div class="notification is-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="notification is-danger">
                    {{ message }}
                </div>
            {% endfor %}


            {% block body %}{% endblock %}
        </div>
    </div>
    </body>
</html>
